.blog-wrapper {
  max-width: var(--site-max-wdith);
  width: 100vw;
}

.blog-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer_powered {
  margin-top: 10px;
}
