.cover {
  margin-top: 2rem;
}

.cover-content {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.cover-description {
  color: var(--base-font-colour);
}

.cover-icon {
  margin-bottom: 2rem;
}

.cover-icon-image {
  border-radius: 80px;
  width: 150px;
}
