.featured-article {
  margin-right: 30px;
}

.featured-article:last-child {
  margin-right: 0;
}

.featured-article__image {
  height: 240px;
}

.featured-article__title {
  color: var(--link-color);
  margin: 2rem 0 0;
}

.featured-article__wrapper {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.featured-article__wrapper:first-child {
  margin-left: 0;
}
