.featured-article {
  margin-right: 30px;
}

.featured-article:last-child {
  margin-right: 0;
}

.featured-article__image {
  height: 240px;
  width: 100%;
}

.featured-article__title {
  color: var(--link-color);
  margin: 3rem 0 0;
}

.featured-article__wrapper {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.featured-article__wrapper:first-child {
  margin-left: 0;
}

@media only screen and (max-width : 1024px) {
  .featured-articles__carousell {
      flex-direction: column;
  }
}
