.featured-article {
  display: flex;
  flex-direction: column;
}
.featured-articles__wrapper {
  margin-top: 2rem;
}

.featured-articles__title {
  border-bottom: 1px solid var(--border-colour);
  color: var(--accent-font-colour);
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.featured-articles__carousell {
  display: flex;
  justify-content: space-between;
  flex-direction: var(--carousell-direction);
}
