.feed {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  max-width: 80%;
}

.feed-entry__container {
  align-items: center;
  display: flex;
  height:50px;
  border-bottom: 1px solid var(--border-colour);
}

.feed-entry_container * {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feed-entry__container:last-child {
  border-bottom: none;
}

.feed-entry__date {
  color: var(--accent-font-colour);
  font-size: var(--font-size-small);
  font-weight: var(--font-heavy);
  margin-right: 1.5rem;
  text-transform: uppercase;
}

.feed-entry__title {
  flex-grow: 2;

}
