.site-header__title {
  color: var(--secondary-text-color);
  font-weight: var(--font-heavy);
}

.site-header__nav {
  list-style: none;
  display: inline-block;
}


.site-header__nav li[role="menuitem"] {
  display: inline-block;
  margin-right: 20px
}
