.post-content {
    margin-left: calc(-680px / 2 + 100% / 2);
    margin-right: calc(-680px / 2 + 100% / 2);
    width: 680px;
}

.post-header {
    text-align: center;
}

.post-header__title {

}

.post-content__cover-image {
    position: relative;
    margin-left: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    margin-right: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    max-width: calc(100vw - var(--scrollbar));
}

.post-content__cover-image::before {
    padding: 15%;
    content: "";
    display: block;
}

.post-content__cover-image img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.post-content__meta {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--muted-font-colour)
}

.post-content__meta span::after{
    content: "\02022";
    font-family: serif;
    padding: 0 0.3rem;
}

/* .post-content__meta *:first-child::before{
    content: "";
} */

.full-width {
    margin-left: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    margin-right: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    max-width: calc(100vw - var(--scrollbar));
    display: flex;
    justify-content: center;
}

img[src$="#full"] {
    max-width: 100vw;
}

.wide {
    margin-left: calc(-920px / 2 + 100% / 2);
    margin-right: calc(-920px / 2 + 100% / 2);
    width: 920px;
}

.wide img {
    width: 100%;
}



post-content__body {

}

post-content__footer {

}

.post-content a:link {
    color: var(--accent-font-colour);
    font-weight: 800;
    text-decoration: underline;
}

.post-content a:visited {
    color: var(--accent-font-colour);
}

.post-content :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #282c35;
}

.post-content p {
    font-size: 17px;
    font-weight: 200;
}

.post-content h1 {

}

.post-content h2 {

}

.post-content h3 {

}

img[src$="#full"] {
    margin-left: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    margin-right: calc(-100vw / 2 + 100% / 2 + var(--scrollbar) / 2);
    max-width: calc(100vw - var(--scrollbar));
}
