html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-base);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--darker-gray-color);
  font-family: var(--font-base);
  font-weight: 800;
  line-height: 1.3;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

a {
  text-decoration: none;
}

a:link {
  color: var(--base-font-colour);
}

/* visited link */
a:visited {
  color: var(--base-font-colour);
}

/* mouse over link */
a:hover {
  opacity: 0.8;
  color: var(--secondary-text-color);
}

/* selected link */
a:active {
  color: var(--base-font-colour);
}
