/* Variables
/* ---------------------------------------------------------- */

:root {

  /* dark theme colours */
  /* --background-color: #282c35;
  --base-font-colour:  #fff;
  --accent-font-colour: #ff572f;
  --muted-font-colour: #868686;
  --border-colour: #3b3e46; */

    /* Colours */
    --background-color: #fff;
    --base-font-colour:  #3c414c;
    --accent-font-colour: #024eff;
    --muted-font-colour: #000000;
    --border-colour: #d2d9e8;

    --scrollbar: 15px;
    /* Fonts */
    --font-base: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

}
