<div class="cover">
  <div class="cover-content">
      <div class="cover-icon">
        <img class="cover-icon-image" src="{{@coverImage}}" alt="billybonks illustration">
      </div>
      <div class="cover-description">{{@description}}</div>
  </div>
</div>
