<div class="cover">
  <div class="cover-content">
      <div class="cover-icon">
        <img class="cover-icon-image" src="https://demo.iveel.co/dawn/content/images/2020/02/icon.png" alt="Dawn">
      </div>

      <div class="cover-description">{{@description}}</div>

  </div>
</div>
