{{#link-to 'post' @postId}}
  <article class="featured-article">
    <img class="featured-article__image" src={{@image}}>
    <h3 class="featured-article__title">{{@title}}</h3>
  </article>
{{/link-to}}
