<div class="blog-container">
  <div class="blog-wrapper">
    <Header @site={{this.site}} @navigation={{this.blog.navigation}} @title={{this.blog.title}} />
    <main id="site-main" class="site-main">
      {{yield}}
    </main>
  </div>
</div>
