<LinkTo class="featured-article__wrapper" @route='post' @model={{@postId}}>
  <article class="featured-article">
    <img alt="article banner" class="featured-article__image" loading="lazy" src={{@image}}>
    <h4 class="featured-article__title">{{@title}}</h4>
  </article>
</LinkTo>
